{% extends 'base.html' %}
{% block content %}




<div class="row row-cols-1 row-cols-md-6 g-4">

    {% for  card in cards  %}
        

        
    <div class="col">
      <div class="card" style="border-radius: 15px;box-shadow: -5px 5px 10px white">
        <center><h5 class="card-title">{{card.title}}</h5>
        <img src="{{card.src}}" class="card-img-top" style = "width:90%" alt="..."></center>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{card.tag}} see more
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      {{card.text|safe}}
                    </div>
                  </div>
                </div>

            </div>

        </div>
      </div>
    </div>

    {% endfor %}    

</div>



  

    
{% endblock content %}
    