{% extends 'base.html' %}
{% block content %}




<div class="row row-cols-1 row-cols-md-6 g-4">

    {% for  card in cards  %}
        

        
    <div class="col">
      <div class="card" style="border-radius: 15px;box-shadow: 20px 20px 10px grey">
        <center><h5 class="card-title">{{card.title}}</h5><h6>{{card.tag}}</h6></center>
        <img src="{{card.src}}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{card.text|safe}}</p>
        </div>
      </div>
    </div>

    {% endfor %}    

</div>



  

    
{% endblock content %}
    